<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
	{{- partialCached "preloader.html" . -}}
	{{ if not .IsHome}}
	{{- partial "header.html" . -}}
	{{ end }}
	{{- block "main" . }}{{- end }}
	{{ if not .IsHome}}
	{{- partialCached "footer.html" . -}}
	{{ end }}
	{{- partialCached "script.html" . -}}
	<a class="elevensight-11button-v2"  href="#" aria-label="contact widget" data-btn-style-hash-id="jb76CMPTWZa1jQhduPnCrW_rIfXaMfgh0m69AJaAk6SnUlxxU7" rel="external nofollow"></a>
  <script defer>!function(d,s,id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://app.11sight.com/button_loader.js"; fjs.parentNode.insertBefore(js, fjs); }(document,"script","elevensight-11buttonjs"); </script> 
</body>

</html>