<!-- our brands -->
<section class="our-brands">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center p-3 mx-auto">
                <h3 class="brands">Brands That Trust Us</h3>
            </div>
        </div>
        <div class="row">
            {{ with  $.Site.Data.brands }}

            {{ range .brands }}
            <div class="col col-12 col-md-6 col-lg-4 mx-auto p-3">
                <div class="card mx-auto">
                    <div class="card-body">
                        <img src="{{ .image | absURL}}" alt="{{ .title }}" class="fluid-img mx-auto d-block" height="420" width="420">
                    </div>
                </div>
            </div>
            {{ end }}

            {{ end }}
        </div>
    </div>
</section>

<!-- end our brands-->

<!-- design section -->

{{ with $.Site.Data.brands }}

{{ range .designs }}

<section class="our-brands design-showcase mb-3">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center p-3">
                <h3 class="brands">{{ .title }}</h3>
                <p class="lead">{{ .Description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-9 mx-auto p-3 text-center" style="height: 500px; width: 768px; overflow-y: auto;">
                <img src="{{ .image }}" alt="{{ .title }}" class="fluid-img d-block mx-auto" height="768" width="499">
            </div>
        </div>
    </div>
</section>

{{ end }}

{{ end }}

<!-- end design section -->