<!-- Start Contact -->
{{ with .GetPage "contact"}}
<style>{{.Params.custom_css | safeCSS}}</style>
<section class="contact {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} style="background-image: url('{{.Params.bg_image | absURL}}');" id="contact">
  <div class="container">
    <div class="row">
      <div class="contact-holder col-lg-8 offset-lg-2 col-sm-8 offset-sm-2">
        <h1 class="wow fadeInUp" data-wow-duration="1.5s">{{ .Title | markdownify}}</h1>
        <form id="contactForm" method="POST" action="{{ .Params.form_action }}" data-toggle="validator">
          <div class="form-container row wow fadeInUp" data-wow-duration="1.5s">
            <div class="form-group col-lg-6 d-none">
              <input class="form-control d-none" type="text" name="phonenumber" id="phonenumber" placeholder="phone number"
                >
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-lg-6">
              <input class="form-control" type="text" name="username" id="username" placeholder="{{.Params.name}}"
                required>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-lg-6">
              <input class="form-control" type="email" id="email" name="email" placeholder="{{.Params.email}}" required>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-lg-12">
              <textarea class="form-control" name="message" id="message" rows="12"
                placeholder="{{.Params.message}}"></textarea>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-lg-12 sub-button">
              <button class="submit form-control hvr-icon-push g-recaptcha" data-sitekey="6Lf6IyUaAAAAAPTTe__sC4052VzvGcwFlBHeajA0" data-callback='onSubmit' data-action='submit' type="submit" value="send"> {{.Params.submit}} </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- End Contact -->