@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spinIn {
    from {
        transform: rotateX(0deg) rotateY(-1080deg) rotateZ(0deg);
        -webkit-transform: rotateX(0deg) rotateY(-1080deg) rotateZ(0deg);
        -moz-transform: rotateX(0deg) rotateY(-1080deg) rotateZ(0deg);
        opacity: 0;
    }

    to {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        opacity: 1;
    }
}

@keyframes spins {
    from {
        transform: rotateZ(0);
        -webkit-transform: rotateZ(0);
        -moz-transform: rotateZ(0);
    }

    to {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);

    }
}

.contact {
    overflow-x: hidden !important;
}

.opacity-0 {
    opacity: 0;
    visibility: hidden;
}

.mobile-menu-img {
    max-width: 200px;
}

header.city-header {
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
    min-height: 100vh;
}

header.city-header h1,
header.city-header h2 {
    color: #fff;
    opacity: 0;
    text-transform: uppercase;
}

header.city-header section ul {
    color: #fff;
    font-size: 1.5em;
    list-style: none;
    max-width: 60ch;
}

header.city-header section ul li {
    opacity: 0;
}

section.local-Description img {
    object-fit: cover;
}

.content > p > img {
    max-width: 100% !important;
    width: auto;
}

.perspective .card p {
    font-size: 1.2rem;
}

#rc-anchor-alert {
    display: none !important;
}

#cta {
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;
}

#cta .cta-video {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-50%);
}

.contact {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5256303204875701) 50%, rgba(255,156,17,0.3435574913559174) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5256303204875701) 50%, rgba(255,156,17,0.3435574913559174) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5256303204875701) 50%, rgba(255,156,17,0.3435574913559174) 100%); 
}

.grecaptcha-badge {
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
}

audio {
    border-radius: 10px;
}

aside .contact-card .card .card-body form .form-control {
    display: grid;
    height: 100%;
    place-items: start start;
}

aside .contact-card .card .card-body form .form-control select {
    background: transparent;
    border: 1px solid #333;
    padding: .5rem 0;
}

aside .contact-card .card .card-body form .form-control button {
    width: 100% !important;
}

h3.aside-cta {
    font-size: 1.5em;
}

#services {
    max-width: 237px;
}

blockquote {
    background: transparent;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.667;
    margin: 2rem auto 4rem;
    max-width: 100%;
    padding: 0 2rem;
    position: relative;
    overflow-x: auto;
    transition: background 333ms ease;
    -webkit-transition: all 333ms ease;
    -moz-transition: all 333ms ease;
    width: 75ch;
}

blockquote::before {
    background: rgba(0,0,0,1);
    content: '';
    display: flex;
    align-items: start;
    font-size: calc(1rem * 1.75);
    justify-content: center;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;

}

blockquote::after {
    background: #333;
    border-radius: 50%;
    display: grid;
    content: "⚡";
    font-size: 24px;
    height: 33px;
    margin: 0;
    padding: 0;
    place-items: center;
    position: absolute;
    left: calc(-33px / 2);
    top: calc(100% - 33px);
    width: 33px;
}

blockquote.Description {
    background: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: initial;
    padding: 1.5em;
}

blockquote.Description::after,
blockquote.Description::before {
    display: none;
}




@media screen and (min-width: 1200px) {
    .perspective {
        background: transparent; 
        perspective: 900px;
        transform-style: preserve-3d;
    }
    
    .perspective .card {
        animation: spinIn 250ms ease 1s forwards;
        box-shadow: 2px 2px 20px -10px rgba(0,0,0, 0.5);
        opacity: 0;
        transition: all 250ms ease;
        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
    }
    
    .perspective:hover .card {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0)
    }

    #cta {
        min-height: 50vh !important;
        overflow: hidden;
        position: relative;
    }
    
    #cta .cta-video {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateY(0) scale(1.5);
        height: 100%;
        min-height: 50vh;
        width: 100%;
    }

    .contact {
        background: rgb(0,0,0) url('/images/backgrounds/tropical-beach-with-palm-trees.webp') no-repeat fixed center / cover;
        background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5256303204875701) 50%, rgba(255,156,17,0.3435574913559174) 100%) url('/images/backgrounds/tropical-beach-with-palm-trees.webp') no-repeat fixed center / cover;
        background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5256303204875701) 50%, rgba(255,156,17,0.3435574913559174) 100%) url('/images/backgrounds/tropical-beach-with-palm-trees.webp') no-repeat fixed center / cover;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5256303204875701) 50%, rgba(255,156,17,0.3435574913559174) 100%) url('/images/backgrounds/tropical-beach-with-palm-trees.webp') no-repeat fixed center / cover; 
    }
}


/* Web Design Header */

.web-design-header {
    background: linear-gradient(0.25turn, rgba(255, 99, 125, 0.33), rgba(255, 99, 125, 0.66) ), url('/images/backgrounds/web-design-hero-1920x768.png') no-repeat fixed center center / cover;
    box-shadow: 2px -2px 20px -10px #000;
    display: grid;
    place-items: center;
    height: 100%;
    margin: 0 auto 40px;
    min-height: 768px;
    width: 100%;
    text-align: center;
    
}

@media screen and (min-width: 768px) {
    .web-design-header {
        text-align: left;
    }
}

.web-design-header .container {
    height: 100%;
}

.web-design-header .container .row {
    height: 100%;
}

.web-design-title {
    color: #fff;
    font-size: 5rem;
    text-shadow: 2px 2px 4px #000;
}

hr.divider {
    background: #fff;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px -3px #000;
    display: block;
    width: 75%;
    margin: 0.5em auto;
    height: 2px;
}

.web-design-subtitle {
    color: #fff;
    font-size: 3rem;
    text-shadow: 2px 2px 4px #000;
}

.arrow-container {
    padding: 5px 10px;
    text-align: center;
}


/* Web Design Form */

.web-design-form {
    border: none;
    box-shadow: 2px 2px 20px -10px #000;
    max-width: 350px;
    margin: auto;
}

.web-design .form-control {
    background: rgba(0,0,0,0.33);
    border: none;
    border-radius: 0;
    height: auto;
    text-align: center;
}

.web-design-form .form-control label {
    background: rgba(255,255,255,0);
    padding: 5px 10px;
}

.web-design-form .form-control label span {
    color: #fff;
    display: inline-block;
    min-width: 50px;
}

.web-design-form .form-control label input {
    background: rgba(255,255,255,0.5);
    border-width: 0;
    border-radius: 10px;
    color: #555;
    box-shadow: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    padding: 5px 7px;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;

}

.web-design-form .form-control label:focus-within input:focus {
    background: #fff;
    outline: 1px dotted #fff;
}


.web-design-submit-button {
    background: transparent;
    border: 1px solid #fff;;
    border-radius: 2rem;
    color: #fff;
    font-size: 14px;
    margin: auto;
    padding: 0.5em 1em;
    text-transform: uppercase;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
}

.web-design-submit-button:hover,
.web-design-submit-button:active {
    background: rgba(255, 99, 125, 1);
    color: #fff;
}

.form-title {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.form-privacy {
    color: #fff;
    font-size: 10px;
    text-align: left;
}




/************************
Web Design Process
*/

section.design-process .container .row .col-12 .section-title {
    color: #000;
    font-size: 4rem;
    margin: 1rem auto;
}


.card-title .item-title {
    color: #000;
    position: relative;
    width: fit-content;
}

.card-title .item-title::after {
    background: rgba(255, 99, 125, 0.66);
    content: "";
    display: block;
    left: calc(50% + 40px);
    height: 2px;
    width: calc(100% - 40px);
    position: absolute;
    transform: translateX(calc(-50% - 10px));
    bottom: 0em;
}

span.process-number {
    align-items: center;
    background: rgba(255, 99, 125, 1);
    color: #000;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.web-design-cta {
    height: 100vh;
    max-height: 768px;
}


/*********
Web Design Services Section
***/

section.web-design-services {
    background: #191919;
}

section.web-design-services .container .row .col-12 h3 {
    font-size: 4rem;
    margin: 1em auto;
}

section.web-design-services .container .row .col-12 h3.web-design {
    font-size: 1.75rem;
}
section.web-design-services .container .row:nth-child(2n + 1) {
    /* flex-flow: row-reverse; */
}

section.faq {
    overflow-x: hidden;
}

@media screen and (min-width: 768px) {
    section.web-design-services .container .row:nth-child(2n + 1) {
        flex-flow: row-reverse;
    }
}

h3.brands {
    font-size: 3em;
    margin: 1em auto;
}



/* Design Firms */

.design-firms .container.row .col-12 .card .card-title .text-info h4 {
    text-transform: uppercase;
}
