@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mobile-menu-img {
    max-width: 200px;
}

header.city-header {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

header.city-header h1,
header.city-header h2 {
    color: #fff;
    opacity: 0;
    text-transform: uppercase;
}

header.city-header section ul {
    color: #fff;
    font-size: 1.5em;
    list-style: none;
    max-width: 60ch;
}

header.city-header section ul li {
    opacity: 0;
}

section.local-description img {
    object-fit: cover;
}