@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spinIn {
    from {
        transform: rotateX(0deg) rotateY(-1080deg) rotateZ(0deg);
        -webkit-transform: rotateX(0deg) rotateY(-1080deg) rotateZ(0deg);
        -moz-transform: rotateX(0deg) rotateY(-1080deg) rotateZ(0deg);
        opacity: 0;
    }

    to {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        opacity: 1;
    }
}

.contact {
    overflow-x: hidden !important;
}

.mobile-menu-img {
    max-width: 200px;
}

header.city-header {
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
    min-height: 100vh;
}

header.city-header h1,
header.city-header h2 {
    color: #fff;
    opacity: 0;
    text-transform: uppercase;
}

header.city-header section ul {
    color: #fff;
    font-size: 1.5em;
    list-style: none;
    max-width: 60ch;
}

header.city-header section ul li {
    opacity: 0;
}

section.local-description img {
    object-fit: cover;
}

.content > p > img {
    max-width: 100% !important;
    width: auto;
}

.perspective .card p {
    font-size: 1.2rem;
}

#rc-anchor-alert {
    display: none !important;
}

#cta {
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;
}

#cta .cta-video {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-50%);
}

.contact {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5256303204875701) 50%, rgba(255,156,17,0.3435574913559174) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5256303204875701) 50%, rgba(255,156,17,0.3435574913559174) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5256303204875701) 50%, rgba(255,156,17,0.3435574913559174) 100%); 
}

.grecaptcha-badge {
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
}

audio {
    border-radius: 10px;
}

aside .contact-card .card .card-body form .form-control {
    display: grid;
    height: 100%;
    place-items: start start;
}

aside .contact-card .card .card-body form .form-control select {
    background: transparent;
    border: 1px solid #333;
    padding: .5rem 0;
}

aside .contact-card .card .card-body form .form-control button {
    width: 100% !important;
}

h3.aside-cta {
    font-size: 1.5em;
}

#services {
    max-width: 237px;
}



@media screen and (min-width: 1200px) {
    .perspective {
        background: transparent; 
        perspective: 900px;
        transform-style: preserve-3d;
    }
    
    .perspective .card {
        animation: spinIn 250ms ease 1s forwards;
        box-shadow: 2px 2px 20px -10px rgba(0,0,0, 0.5);
        opacity: 0;
        transition: all 250ms ease;
        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
    }
    
    .perspective:hover .card {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0)
    }

    #cta {
        min-height: 50vh !important;
        overflow: hidden;
        position: relative;
    }
    
    #cta .cta-video {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateY(-50%);
    }

    .contact {
        background: rgb(0,0,0) url('/images/backgrounds/tropical-beach-with-palm-trees.webp') no-repeat fixed center / cover;
        background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5256303204875701) 50%, rgba(255,156,17,0.3435574913559174) 100%) url('/images/backgrounds/tropical-beach-with-palm-trees.webp') no-repeat fixed center / cover;
        background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5256303204875701) 50%, rgba(255,156,17,0.3435574913559174) 100%) url('/images/backgrounds/tropical-beach-with-palm-trees.webp') no-repeat fixed center / cover;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5256303204875701) 50%, rgba(255,156,17,0.3435574913559174) 100%) url('/images/backgrounds/tropical-beach-with-palm-trees.webp') no-repeat fixed center / cover; 
    }
}