{{ define "main" }}
<header class="city-header p-3" style="background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ .Params.img | absURL }}') no-repeat fixed center center / cover;">
    <section class="wow fadeInUp city">
        <div class="container">
            <h1 data-wow-duration="1.5s" class="wow fadeInUp">{{ .Title | markdownify }}</h1>
            <h2 data-wow-duration="1.5s" data-wow-delay="250ms" class="wow fadeInUp">{{ .Params.subtitle }}</h2>
        </div>
    </section>
    <section class="engaging-points">
        <ul class="engaging-points_list">
            {{ range .Params.engaging_points }}
                <li class="wow fadeInUp" data-wow-duration="{{ .rate }}" data-wow-delay="{{ .delay }}">👌 {{ .message }}</li>
        {{ end }}
        </ul>
    </section>
    {{ with .Params.audio }}
</header>
<section class="audio-player mx-auto my-3 text-center">
    <audio controls aria-label="audio version">
        <source src="{{- . | absURL -}}" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio> 
      <p><small>Audio Version</small></p>
</section>
{{ end }}
<section class="local-description my-5 d-none">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mx-auto">
                <figure class="mt-5">
                    <img loading="lazy" src="{{ .Params.local_img | absURL }}" class="wow fadeInUp img-fluid" data-wow-duration="1.5s" data-wow-delay="0" alt="{{ .Title }}" width="450" height="350">
                    <figcaption class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="250ms">{{ .Params.local_caption | humanize }} </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-12 col-md-4 mx-auto d-none">
                <h3 class="fadeIn" data-wow-duration="1.5s">We Are Here To Serve</h3>
                <p class="pt-2">{{ .Params.about | safeHTML }}</p>
            </div>
        </div>
    </div>
</section>
<main class="main-content wow fadeInUp p-3" data-wow-duration="1.5s">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-8 col-xl-8 mx-auto">
                {{ .Content }}
                
            </div>
        </div>
    </div>
</main>
{{ end }}
