{{ define "main" }}
	<section class="about-me">
	<div class="row">
		<div class="col">
			{{ .Content }}
		</div>
		<div class="col">
			<canvas id="portrait">

			</canvas>
			<img id="portraitImg" src="/images/andrew-mccall-500x664.png" alt="Andrew M McCall in front of a desert painted background" class="portrait d-none" height="664" width="500" decoding="async">
		</div>
	</div>
	</section>
{{ end }}

{{ define "extra" }}
		
		{{ partial "featured-posts.html" . }}

		{{ partial "featured-projects.html" . }}
{{ end }}


