
<!DOCTYPE html>
<html lang="en-us">
{{ partial "head.html" .}}
<body class="single">
	<a class="skip-to-content-link" href="#mainContent" style="position: absolute; left: -100%; transform: translateX(-100%);">
  Skip to content
</a>
	<div class="wrapper">
		<header class="article-header">
			<nav class="main-nav">
				{{ with .Site.Menus.main }}
					{{ range . }}

				<a href="{{- .URL -}}" title="{{- .Name -}}" rel="">{{- .Name -}}</a>	
				{{ end }}
				{{ end }}
			</nav>
			<h1>{{ .Title }}</h1>
			</header>
		<div class="container">
			{{ block "main" . }}
				<main class="main-content">
				<article id="mainContent" class="main-content__content">
					
					{{ .Content }}
					

				</article>
			</main>
			{{ end }}

			{{ block "aside" . }}
		
			{{ end }}
		</div>

{{ block "extra" . }} 

{{ end }}
	
{{ partial "footer.html" . }}
	</div>
{{ partial "scripts.html" . }}
</body>
</html>
