
	{{ define "main"  }}
	<section class="contact-form">
					<form id="mainContactForm" action="" method="POST">
						<input type="hidden" name="password">
						<div class="form-control">
							<label for="email">Email: </label>
							<input type="text" name="email" id="email" placeholder="username@example.com">
							<small class="error"></small>
						</div>
						<div class="form-control">
							<label for="message">Message: </label>
							<textarea name="message" id="message" cols="100%" rows="10vh" >Your message...</textarea>
							<small class="error"></small>
						</div>
						<div class="form-control">
							<input type="submit" value="submit">
						</div>
					</form>
				</section>
	{{ end }}

	{{ define "aside" }}
		<aside class="sidebar contact">
			<h2 class="contact-heading__title">About The Author</h2>
			{{ partial "author-card.html" . }}

			<section class="footer-bio">
				{{ if eq .Params.layout "contact" }}
					{{ .Site.Params.footer_bio }}
					{{ end }}
			</section>
		</aside>
	{{ end }}



