{{ define "main" }}
<section class="projects">
	<div class="row">
		{{ range .Pages }}
		<div class="card">
			<img class="card-background" data-src="{{ .Params.thumbnail }}" alt="project card background" loading="lazy" decoding="async" height="370" width="370">
			<a href="#"><h2 class="card-title">{{- .Title -}}</h2></a>
			<div class="card-content">
				{{ .Summary }}
			</div>
			<a href="{{ .RelPermalink}}" class="card-button" title="{{ .Summary }}">{{ .Title }}</a>


		</div>
		{{ end }}
	</div>
</section>
{{ end }}