{{ define "main" }}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quo? Voluptate, reprehenderit fuga aperiam porro, sapiente esse quidem omnis voluptatibus voluptatem assumenda dolorum eligendi nihil nostrum dolore eveniet molestiae voluptatum quod amet accusamus inventore! Consectetur unde beatae nulla. Vero maiores, dolores recusandae. Mollitia ex doloremque, similique natus reprehenderit accusamus corrupti.
{{ end }}

{{ define "aside" }}



{{ partial "author-card.html" . }}
{{ partial "related.html" . }}
{{ end }}