@charset "UTF-8";
/* SCSS HSL */
.fadeOut {
  opacity: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.d-none {
  display: none !important;
}

html,
body {
  font-size: 18px;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  opacity: 0;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  transition: all 350ms ease;
}

img.loaded {
  opacity: 1;
}

.main-nav {
  background: #fff;
  width: 100%;
  max-width: 1600px;
  margin: auto;
  position: fixed;
  z-index: 99999999999999;
}

.row {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.col {
  width: auto;
}
.col img.portrait {
  border-radius: 1rem;
  box-shadow: 2px 2px 20px -10px #000;
  opacity: 1;
}

aside img {
  border-radius: 50%;
}
aside ul,
aside li {
  list-style-type: none;
  list-style-position: inside;
}

nav.breadcrumb {
  padding: 0;
}

.breadcrumbs {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0 1.5rem;
  margin: unset;
  padding: 0;
}
@media (min-width: 1024px) {
  .breadcrumbs {
    padding-top: 1rem;
  }
}
.breadcrumbs li {
  margin-bottom: 0;
  display: inline-block;
  padding-inline-start: 0;
  position: relative;
}
@media (min-width: 1024px) {
  .breadcrumbs li {
    margin-bottom: 0;
  }
}
.breadcrumbs li a {
  font-size: clamp(0.6rem, 0.700374382rem + 0.4494382022vw, 1rem);
  margin: unset;
}
.breadcrumbs li:first-of-type {
  margin-left: 0;
}
.breadcrumbs li::after {
  color: #c71627;
  display: grid;
  place-items: center;
  content: "≫";
  font-size: 1rem;
  font-size: clamp(0.6rem, 0.700374382rem + 0.4494382022vw, 1rem);
  width: auto;
  position: absolute;
  top: 50%;
  right: -1.25rem;
  transform: translateY(-50%);
}
.breadcrumbs li:last-of-type::after {
  display: none;
}

.wrapper {
  margin: auto;
  max-width: 1500px;
  padding: 0 1rem;
}

.featured {
  width: 100%;
  margin-bottom: 3rem;
}
.featured:last-of-type {
  margin-bottom: 1rem;
}
.featured .featured-card .featured-card__title,
.featured .featured-card .featured-card__byline,
.featured .featured-card .featured-card__content,
.featured .featured-card .featured-card__button {
  max-width: 60ch;
}
.featured .featured-card a > h2.featured-card__title {
  max-width: 499px;
}

.featured__title {
  margin-bottom: 1.5rem;
}

.featured__articles {
  display: grid;
  gap: 2vw;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin: auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .featured__articles {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .featured__articles {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
.featured__articles .featured-card {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}
@media (min-width: 1024px) {
  .featured__articles .featured-card {
    max-width: fit-content;
  }
}
.featured__articles .featured-card a {
  text-decoration: none;
  color: inherit;
}
.featured__articles .featured-card .featured-card__title {
  color: #c71627;
  font-size: clamp(1.1rem, 0.7153rem + 1.6368vw, 1.5rem);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: uppercase;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.featured__articles .featured-card .featured-card__title:hover, .featured__articles .featured-card .featured-card__title:focus, .featured__articles .featured-card .featured-card__title:active {
  color: hsl(204, 85%, 36%);
  -moz-transform: translateY(-1vh) rotateZ(2deg);
  -webkit-transform: translateY(-1vh) rotateZ(2deg);
  transform: translateY(-1vh) rotateZ(2deg);
}
.featured__articles .featured-card .featured-card__byline {
  font-size: 0.85rem;
  margin-bottom: 0.667rem;
  max-width: 60ch;
}
.featured__articles .featured-card .featured-card__byline strong + span {
  padding-left: 0.5rem;
}
.featured__articles .featured-card .featured-card__content {
  margin-bottom: 0.667rem;
  max-width: 60ch;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 6rem;
}
.featured__articles .featured-card .featured-card__button {
  background: #c71627;
  color: transparent;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  text-transform: uppercase;
  display: inline-grid;
  place-items: center;
  font-size: clamp(0.667rem, 1vw, 1.75vw);
  margin: auto auto 1rem 0;
  overflow: hidden;
  max-height: 40px;
  max-width: 175px;
  padding: 0.667rem 0.5rem;
  text-align: center;
  width: 100%;
  flex: 0 1 auto;
  -moz-transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  position: relative;
  overflow: hidden;
}
.featured__articles .featured-card .featured-card__button::after {
  content: "read more";
  background: #c71627;
  color: #fff;
  display: grid;
  place-items: center;
  text-transform: uppercase;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -moz-transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.featured__articles .featured-card .featured-card__button:hover, .featured__articles .featured-card .featured-card__button:active {
  background: #fff;
  color: #c71627;
}
.featured__articles .featured-card .featured-card__button:hover::after, .featured__articles .featured-card .featured-card__button:active::after {
  outline: 1px solid #c71627;
  padding-left: 1.25rem;
}
.featured__articles .featured-card .featured-card__button:focus {
  padding-left: 1.25rem;
}
.featured__articles .featured-card .featured-card__button:focus::after {
  outline-style: dotted;
}
.featured__articles .featured-card:nth-child(2n) .featured-card__title:hover, .featured__articles .featured-card:nth-child(2n) .featured-card__title:focus, .featured__articles .featured-card:nth-child(2n) .featured-card__title:active {
  color: hsl(204, 85%, 36%);
  -moz-transform: translateY(-1vh) rotateZ(-2deg);
  -webkit-transform: translateY(-1vh) rotateZ(-2deg);
  transform: translateY(-1vh) rotateZ(-2deg);
}

.single .wrapper {
  display: flex;
  flex-flow: row wrap;
  padding-top: 100px;
}
.single .wrapper header {
  position: relative;
  width: 100%;
}
.single .wrapper header .main-nav {
  background: #fff;
  display: block;
  width: 100vw;
  max-width: 1200px;
  padding: 1vw;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 99999999999;
}
@media (min-width: 1024px) {
  .single .wrapper header .main-nav {
    margin: auto;
    max-width: 1500px;
    left: 50%;
    text-align: left;
    transform: translateX(-50%);
  }
}
.single .wrapper .container {
  display: flex;
  flex-flow: row wrap;
  gap: 0 2rem;
  width: 100%;
}
.single .wrapper .container .about-me {
  flex: 0 0 100%;
}
.single .wrapper .container .about-me .row {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) and (max-width: 1023px) {
  .single .wrapper .container .about-me .row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .single .wrapper .container .about-me .row .col:nth-child(1) {
    place-self: center;
  }
}
@media (min-width: 1024px) {
  .single .wrapper .container .about-me .row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .single .wrapper .container .about-me .row .col:nth-child(1) {
    place-self: center;
  }
}
.single .wrapper .container .about-me .row img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
.single .wrapper .container main.main-content {
  flex: 1 1;
  max-width: 100%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .single .wrapper .container main.main-content {
    flex: 1 0;
  }
}
@media (min-width: 1024px) {
  .single .wrapper .container main.main-content {
    flex: 3 1;
    max-width: 968px;
  }
}
.single .wrapper .container aside {
  flex: 0 0 100%;
  min-width: 0;
  max-width: 100%;
  overflow: initial;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .single .wrapper .container aside {
    flex: 0 0 100%;
  }
}
@media (min-width: 1024px) {
  .single .wrapper .container aside {
    flex: 1 2;
    max-width: 399px;
  }
}
.single .wrapper footer {
  flex: 0 0 100%;
  max-width: 100%;
}

body.dark-mode {
  background: #333;
}
body.dark-mode nav,
body.dark-mode header,
body.dark-mode section,
body.dark-mode div,
body.dark-mode main,
body.dark-mode article,
body.dark-mode aside,
body.dark-mode .wrapper {
  background: #333;
}
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode span,
body.dark-mode p,
body.dark-mode strong,
body.dark-mode li {
  color: #fff;
}
body.dark-mode h1 a,
body.dark-mode h2 a,
body.dark-mode h3 a,
body.dark-mode h4 a,
body.dark-mode h5 a,
body.dark-mode h6 a,
body.dark-mode span a,
body.dark-mode p a,
body.dark-mode strong a,
body.dark-mode li a {
  color: hsl(198, 89%, 82%);
}
body.dark-mode .wrapper .main-header .main-nav {
  background: #333;
  color: #fff;
}
body.dark-mode .wrapper .main-header .main-nav a {
  color: #fff;
}
body.dark-mode .wrapper .main-header .main-nav a:hover, body.dark-mode .wrapper .main-header .main-nav a:active, body.dark-mode .wrapper .main-header .main-nav a:focus {
  color: hsl(198, 89%, 82%);
}
body.dark-mode .wrapper .featured-card a .featured-card__title {
  color: #d6df58;
}
body.dark-mode .wrapper .featured-card:nth-child(2n+1), body.dark-mode .wrapper .featured-card:nth-child(2n) {
  color: #fff;
}
body.dark-mode .wrapper .featured-card:nth-child(2n+1):hover a h1,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):hover a h2,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):hover a h3,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):hover a h4,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):hover a h5,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):hover a h6, body.dark-mode .wrapper .featured-card:nth-child(2n+1):active a h1,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):active a h2,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):active a h3,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):active a h4,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):active a h5,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):active a h6, body.dark-mode .wrapper .featured-card:nth-child(2n+1):focus a h1,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):focus a h2,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):focus a h3,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):focus a h4,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):focus a h5,
body.dark-mode .wrapper .featured-card:nth-child(2n+1):focus a h6, body.dark-mode .wrapper .featured-card:nth-child(2n):hover a h1,
body.dark-mode .wrapper .featured-card:nth-child(2n):hover a h2,
body.dark-mode .wrapper .featured-card:nth-child(2n):hover a h3,
body.dark-mode .wrapper .featured-card:nth-child(2n):hover a h4,
body.dark-mode .wrapper .featured-card:nth-child(2n):hover a h5,
body.dark-mode .wrapper .featured-card:nth-child(2n):hover a h6, body.dark-mode .wrapper .featured-card:nth-child(2n):active a h1,
body.dark-mode .wrapper .featured-card:nth-child(2n):active a h2,
body.dark-mode .wrapper .featured-card:nth-child(2n):active a h3,
body.dark-mode .wrapper .featured-card:nth-child(2n):active a h4,
body.dark-mode .wrapper .featured-card:nth-child(2n):active a h5,
body.dark-mode .wrapper .featured-card:nth-child(2n):active a h6, body.dark-mode .wrapper .featured-card:nth-child(2n):focus a h1,
body.dark-mode .wrapper .featured-card:nth-child(2n):focus a h2,
body.dark-mode .wrapper .featured-card:nth-child(2n):focus a h3,
body.dark-mode .wrapper .featured-card:nth-child(2n):focus a h4,
body.dark-mode .wrapper .featured-card:nth-child(2n):focus a h5,
body.dark-mode .wrapper .featured-card:nth-child(2n):focus a h6 {
  color: #a6af22;
}
body.dark-mode footer .main-footer__row > .col h1, body.dark-mode footer .main-footer__row > .col h2, body.dark-mode footer .main-footer__row > .col h3, body.dark-mode footer .main-footer__row > .col h4, body.dark-mode footer .main-footer__row > .col h5, body.dark-mode footer .main-footer__row > .col h6, body.dark-mode footer .main-footer__row > .col a, body.dark-mode footer .main-footer__row > .col col > h1, body.dark-mode footer .main-footer__row > .col .col > h2, body.dark-mode footer .main-footer__row > .col .col > h3, body.dark-mode footer .main-footer__row > .col .col > h4 {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
  font-weight: normal;
  max-width: 550px;
}

h1,
h2,
h3 {
  min-height: 4.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

ol,
ul,
p,
span,
div,
article,
section,
aside,
form,
footer {
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro, sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

span,
p {
  font-size: clamp(0.85rem, 0.802rem + 0.435vw, 1.15rem);
  max-width: 100ch;
}

p > code {
  background: #e6e6e6;
  color: #000;
  font-family: "Courier New", Courier, monospace;
}

ul,
ol {
  margin: 1rem auto 1rem 1rem;
  max-width: 100%;
}
@media (min-width: 499px) and (max-width: 767px) {
  ul,
  ol {
    max-width: 80vw;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  ul,
  ol {
    max-width: 100ch;
  }
}
@media (min-width: 1024px) {
  ul,
  ol {
    max-width: 100ch;
  }
}
ul li,
ol li {
  margin-bottom: 1rem;
  padding-inline-start: 1rem;
}

ul.categories {
  align-items: center;
  justify-content: flex-start;
  display: inline-flex;
  flex-flow: row wrap;
  margin: 0;
}
ul.categories li {
  display: inline-block;
  font-size: clamp(0.6rem, 0.700374382rem + 0.4494382022vw, 1rem);
  margin-bottom: 0;
  padding-inline-start: 0;
  position: relative;
  text-transform: lowercase;
}
ul.categories li:last-child::after {
  display: none;
}
ul.categories li:last-child + .divider {
  display: none;
}
ul.categories .divider {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: relative;
}
ul.categories .divider::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 12px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: hsl(220, 100%, 17%);
}
ul.categories .divider::after.categories {
  margin: unset;
}
ul.categories .divider:last-of-type {
  display: none;
}

.author-byline strong {
  margin-right: 3px;
}

p > a {
  color: #c71627;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid #c71627;
  padding: 3px;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
}
p > a:hover, p > a:active, p > a:focus {
  border-bottom-color: transparent;
}

blockquote {
  background: linear-gradient(to right, #8ac5dc 4px, transparent 6px) 0 0, linear-gradient(to right, #8ac5dc 4px, transparent 4px) 0 100%, linear-gradient(to left, #8ac5dc 4px, transparent 4px) 100% 0, linear-gradient(to left, #8ac5dc 4px, transparent 4px) 100% 100%, linear-gradient(to bottom, #8ac5dc 4px, transparent 4px) 0 0, linear-gradient(to bottom, #8ac5dc 4px, transparent 4px) 100% 0, linear-gradient(to top, #8ac5dc 4px, transparent 4px) 0 100%, linear-gradient(to top, #8ac5dc 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border: 4px solid transparent;
  margin: 3.5rem 0;
  padding: 1vh;
  max-width: 100%;
  position: relative;
  width: 60ch;
}
@media (min-width: 499px) and (max-width: 767px) {
  blockquote {
    padding: 1rem;
  }
}
blockquote p {
  font-family: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052, Sylfaen, serif;
  font-size: clamp(0.67rem, 0.538rem + 1.1879vw, 1.33rem);
  font-weight: 700;
  margin: auto;
  padding: 0 0 0 1rem;
}
blockquote::before, blockquote::after {
  content: "";
  display: none;
  width: 8px;
  height: 80%;
  background: #fff;
  z-index: 2;
  position: absolute;
  top: 50%;
}
blockquote::before {
  left: -4px;
  transform: translate(0, -50%);
}
blockquote::after {
  right: -4px;
  transform: translate(0, -50%);
}

pre {
  background: #333;
  border-radius: 1rem;
  box-shadow: 2px -2px 20px -10px #000;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.06rem;
  max-width: 100ch;
  margin: 1rem 0;
  padding: 1rem;
  overflow: auto;
  position: relative;
  width: 100%;
  -webkit-transition: transform 300ms ease;
  -moz-transition: transform 300ms ease;
  transition: transform 300ms ease;
}
pre code {
  color: #d6df58;
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 1rem;
  font-weight: normal;
}
pre:hover {
  -webkit-transform: translate(0, 0) scale(1);
  -moz-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
}
pre div {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}
@keyframes removeToast {
  from {
    opacity: 1;
    transform: translate(-33%, -33%);
  }
  to {
    opacity: 0;
    transform: translate(-33%, -133%);
  }
}
pre .toast {
  -moz-transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  animation: removeToast 1.75s ease 0s forwards;
  background: #c71627;
  box-shadow: 0 0 5px -2px #000;
  border-radius: 3rem;
  color: #fff;
  position: absolute;
  opacity: 1;
  padding: 0.5rem 1rem;
  z-index: 999;
}

.col p {
  margin-bottom: 1rem;
}

.role {
  color: #aaa;
  font-size: 0.75rem;
}

.meta-box {
  display: grid;
  place-items: center start;
  font-size: 0.667rem;
  margin: 0.412rem 0 0 0;
  padding: 0;
  padding-left: 0.5rem;
  position: relative;
}
.meta-box .read-time {
  display: block;
  font-family: "Courier", monospace, sans;
  line-height: 1.25;
}
.meta-box .publish-date {
  display: block;
  font-family: "Courier", monospace, sans;
  line-height: 1.25;
}
.meta-box::before {
  content: "";
  background: #c71627;
  display: block;
  height: 85%;
  width: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.meta-box.list {
  font-size: clamp(0.667rem, 2vh, 1rem);
}

.social-icons a {
  aspect-ratio: 1/1;
  border: 1px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  -moz-transition: border 250ms ease;
  -webkit-transition: border 250ms ease;
  transition: border 250ms ease;
}
.social-icons a:hover {
  border: 1px solid #c71627;
}
.social-icons a img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.social-icons.footer a {
  height: 40px;
  width: 40px;
}

a {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: #c71627;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
a:hover, a:active, a:focus {
  color: #6b0c15;
}

a.skip-to-content-link:focus {
  outline: 1px dotted #000;
  left: 0;
  top: 0;
  padding: 3px;
  background: #ffc;
}

a.active {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #d6df58;
  padding: 0.25rem;
  font-weight: 700;
}

a.btn {
  background: #c71627;
  border: 1px solid transparent;
  border-top-right-radius: 2.25rem;
  border-bottom-right-radius: 2.25rem;
  box-shadow: 0 0 10px -5px #000;
  color: transparent;
  font-size: 16px;
  display: inline-grid;
  place-items: center;
  margin-top: 1rem;
  max-height: 40px;
  max-width: 150px;
  overflow: hidden;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: color 250ms ease;
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
}
a.btn:hover, a.btn:active, a.btn:focus {
  background: #fff;
  color: #c71627;
  border: 1px solid #c71627;
}
a.btn:focus {
  outline: 1px dotted #000;
}
a.btn::after {
  content: "read more";
  background: #c71627;
  color: #fff;
  display: grid;
  font-size: 0.75rem;
  font-weight: 700;
  place-items: center;
  line-height: initial;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  -moz-transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
a.btn:hover::after, a.btn:focus::after, a.btn:active::after {
  padding-left: 1rem;
}
a.btn:focus {
  outline: 1px dotted #000;
}

nav {
  padding: 1rem 0;
}

nav a {
  color: hsl(225, 84%, 24%);
  letter-spacing: 1.1px;
  margin-left: 0;
  margin-right: 1rem;
  position: relative;
  vertical-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  transition: color 250ms ease;
}
nav a:hover, nav a:active {
  color: #85a1f4;
}
nav a:focus {
  outline: 1px dotted #000;
}
nav a::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 75%;
  margin: auto;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  right: calc(-0.5rem - 2px);
  background: hsl(220, 100%, 17%);
}
nav a:last-of-type::after {
  display: none;
}

h1 {
  font-size: 1.75rem;
  margin: 1rem 0;
}
@media (min-width: 499px) and (max-width: 767px) {
  h1 {
    font-size: 2.3333333333rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 2.8rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
@media (min-width: 499px) and (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  h2 {
    font-size: 2.4rem;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.25rem;
  margin: 1rem 0;
}
@media (min-width: 499px) and (max-width: 767px) {
  h3 {
    font-size: 1.6666666667rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  h3 {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 0.875rem;
  margin: 1rem 0;
}
@media (min-width: 499px) and (max-width: 767px) {
  h4 {
    font-size: 1.1666666667rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  h4 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  h4 {
    font-size: 1.75rem;
  }
}

h5 {
  font-size: 0.875rem;
  margin: 1rem 0;
}
@media (min-width: 499px) and (max-width: 767px) {
  h5 {
    font-size: 1.1666666667rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  h5 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  h5 {
    font-size: 1.75rem;
  }
}

h6 {
  font-size: 0.875rem;
  margin: 1rem 0;
}
@media (min-width: 499px) and (max-width: 767px) {
  h6 {
    font-size: 1.1666666667rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  h6 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  h6 {
    font-size: 1.75rem;
  }
}

#mainContactForm {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: 0;
  width: 100%;
}

.contact-form {
  flex: 1 2;
}
.contact-form form {
  font-size: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.contact-form form .form-control {
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
}
.contact-form form .form-control label,
.contact-form form .form-control input,
.contact-form form .form-control textarea {
  max-width: 100%;
  padding: 1rem;
}
.contact-form form .form-control label {
  font-size: 0.667rem;
  text-transform: uppercase;
}
.contact-form form .form-control textarea {
  text-align: left;
}
.contact-form form .form-control input,
.contact-form form .form-control textarea {
  border: 1px solid #8ac5dc;
}
.contact-form form .form-control input:focus, .contact-form form .form-control input:focus-within,
.contact-form form .form-control textarea:focus,
.contact-form form .form-control textarea:focus-within {
  outline: 1px solid #c71627;
}
.contact-form form .form-control input[type=submit] {
  background: #c71627;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: clamp(1rem, 4vh, 1.33rem);
  outline: 1px solid transparent;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
}
.contact-form form .form-control input[type=submit]:hover, .contact-form form .form-control input[type=submit]:active, .contact-form form .form-control input[type=submit]:focus {
  background: transparent;
  color: #c71627;
  outline: 1px solid #c71627;
}

.sidebar.contact {
  flex: 1 1;
}

small.error {
  background: red;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(1rem);
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
}
small.error.show-error {
  opacity: 1;
  transform: translateY(0);
}
small.error p {
  padding: 1rem;
}

.list .blog-header {
  padding-top: 70px;
  max-width: 60ch;
  margin: 0 auto 1rem;
  text-align: center;
  background-color: #fff;
  display: grid;
  place-items: center start;
}
.list .blog-header .blog-header__row {
  width: 100%;
}
.list .blog-header h1 {
  color: #c71627;
  text-align: left;
  font-size: clamp(2rem, 15vh, 5.5rem);
  font-weight: 900;
  position: relative;
  width: 100%;
}
.list .blog-header h1::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 350px;
  max-width: 100%;
  background: linear-gradient(0.25turn, #c71627, #8ac5dc, #d6df58, #fff);
  position: absolute;
  left: 0;
  bottom: 0rem;
}

.featured.hero-list {
  display: grid;
  gap: 2vmax;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
}
.featured.hero-list .featured-card a {
  display: inline-block;
  font-size: clamp(1rem, 0.8rem + 1.7999vw, 2rem);
}
.featured.hero-list .featured-card .featured-card__content {
  background: transparent;
  height: 6rem;
  position: relative;
  overflow: hidden;
}
.featured.hero-list .featured-card .featured-card__content::before {
  background: linear-gradient(0.5turn, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75) 95%, rgb(255, 255, 255) 90%);
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}

.more-posts {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin: 0 auto 1rem;
}
.more-posts::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
}
.more-posts h3 {
  color: hsl(204, 85%, 36%);
  font-size: clamp(1.5rem, 10vh, 2.5rem);
  margin-bottom: 1rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.more-posts h3::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 250px;
  max-width: 100%;
  background: linear-gradient(0.25turn, #c71627, #8ac5dc, #d6df58, #fff);
  position: absolute;
  left: 0;
  bottom: 0rem;
}
.more-posts ol.more-posts__list {
  list-style: none;
  margin-bottom: 1rem;
}
.more-posts ol.more-posts__list li {
  margin-bottom: 2rem !important;
}
.more-posts ol.more-posts__list li a {
  color: hsl(225, 84%, 24%);
  text-decoration: none;
  font-weight: 700;
  font-size: clamp(1.1rem, 3vh, 1.5rem);
}
.more-posts ol.more-posts__list li a:hover, .more-posts ol.more-posts__list li a:active, .more-posts ol.more-posts__list li a:focus {
  color: hsl(204, 85%, 36%);
}
.more-posts ol.more-posts__list li a:focus {
  outline: 1px dotted #000;
}

.featured {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin: auto;
  margin-bottom: 2rem;
  width: calc(100% - 2rem);
}
.featured .featured-card {
  margin-bottom: 1rem;
}
.featured .featured-card .featured-card__title {
  color: #c71627;
  font-size: clamp(1rem, 0.6781rem + 2.3176vw, 1.667rem);
  min-height: calc(4.5 * clamp(1rem, 0.6781rem + 2.3176vw, 1.667rem));
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.featured .featured-card .featured-card__button {
  background: #c71627;
  border: 1px solid transparent;
  border-top-right-radius: 2.25rem;
  border-bottom-right-radius: 2.25rem;
  box-shadow: 0 0 10px -5px #000;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  margin-top: 1rem;
  max-width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 250ms ease;
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
}
.featured .featured-card .featured-card__button:hover, .featured .featured-card .featured-card__button:active, .featured .featured-card .featured-card__button:focus {
  background: #fff;
  color: #c71627;
  border: 1px solid #c71627;
}
.featured .featured-card .featured-card__button:focus {
  outline: 1px dotted #000;
}

.d-none {
  display: none !important;
}

#portrait {
  max-width: 100%;
  height: auto;
}

.main-header {
  display: grid;
  grid-template-areas: "a" "b";
  padding-top: 100px;
  grid-template-columns: 1fr;
}
@media (min-width: 1024px) {
  .main-header {
    padding-top: initial;
  }
}
@media (min-width: 1024px) {
  .main-header {
    min-height: 100vh;
  }
}
.main-header .main-nav {
  background: #fff;
  grid-area: a;
  position: fixed;
  top: 0;
  z-index: 3;
}
.main-header .main-header__row {
  display: grid;
  gap: 1rem;
  grid-area: b;
  grid-template-areas: "cola" "colb";
  grid-template-columns: 1fr;
  min-height: calc(100vh - 83px);
}
@media screen and (min-width: 768px) {
  .main-header .main-header__row {
    grid-template-areas: "cola colb";
    grid-template-columns: 1fr 1fr;
    margin: auto;
    place-items: center stretch;
  }
}
@media (min-width: 1024px) {
  .main-header .main-header__row {
    min-height: calc(100vh - 65px);
  }
}
.main-header .main-header__row .main-header__row-col:nth-child(2n+1) {
  grid-area: cola;
}
.main-header .main-header__row .main-header__row-col:nth-child(2n) {
  grid-area: colb;
  height: 512px;
  position: relative;
  overflow: hidden;
}
.main-header .main-header__row .main-header__row-col:nth-child(2n)::after {
  content: "";
  width: 50%;
  background: transparent;
  background-image: radial-gradient(hsl(204, 85%, 36%) 3px, transparent 0px);
  background-size: 40px 40px;
  background-position: center center;
  height: calc(100vh - 600px);
  width: 50%;
  position: absolute;
  top: 50%;
  right: -33%;
  transform: translate(-70%, -50%);
}
.main-header .main-header__row .main-header__row-col:nth-child(2n)::before {
  background: transparent url("/images/island.png") no-repeat center center/contain;
  content: "";
  position: absolute;
  display: inline-block;
  height: 512px;
  max-width: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotatey(180deg);
  z-index: 2;
}
.main-header .main-header__row .main-header__row-col h1 {
  display: inline-block;
}

.author-card {
  max-width: 350px;
}
.author-card .author-card__inner-row {
  display: grid;
  grid-template-areas: "portrait" "meta";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: start center;
}
@media screen and (min-width: 499px) {
  .author-card .author-card__inner-row {
    grid-template-areas: "portrait meta";
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
  }
}
.author-card .author-card__inner-row .author-card__inner-row__portrait {
  grid-area: portrait;
}
.author-card .author-card__inner-row .author-card__inner-row__portrait .outer-portrait .inner-portrait {
  padding: 5px;
}
.author-card .author-card__inner-row .author-card__inner-row__portrait .outer-portrait .inner-portrait img {
  border-radius: 50%;
  width: 200px;
  max-width: 100%;
  height: auto;
}
.author-card .author-card__inner-row .author-meta {
  grid-area: meta;
  margin: auto;
  padding: 7px 0;
  place-self: center start;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .author-card .author-card__inner-row .author-meta {
    margin: unset;
  }
}
.author-card .author-card__inner-row .author-meta .role {
  display: block;
  line-height: 1.25;
}
.author-card .author-card__inner-row .author-meta h3 {
  margin-bottom: 0;
}

.author-meta__name {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.role {
  line-height: 1;
}

.related .related__heading {
  color: #c71627;
  font-size: clamp(1.25rem, 10vh, 2rem);
  margin-bottom: 0;
  text-decoration: underline;
  text-transform: uppercase;
}
.related ul {
  padding: 0 1rem 1rem;
  width: 75vw;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .related ul {
    width: initial;
  }
}
@media (min-width: 1024px) {
  .related ul {
    width: initial;
  }
}
.related ul li {
  margin-bottom: 1rem;
  padding-left: 1rem;
  position: relative;
}
.related ul li::after, .related ul li::before {
  content: "";
  background: #c71627;
  display: block;
  height: 100%;
  width: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.related ul li::after {
  background: #c71627;
  border: 1px solid #8ac5dc;
  border-radius: 50%;
  box-shadow: 2px 2px 20px -10px #000;
  height: 1rem;
  width: 1rem;
  top: unset;
  bottom: 0;
  left: -1rem;
  transform: translate(57%, 0%);
}
.related ul li .featured-card a {
  text-decoration: none;
  font-size: 1rem;
}
.related ul li .featured-card a:hover .featured-card__title, .related ul li .featured-card a:active .featured-card__title, .related ul li .featured-card a:focus .featured-card__title {
  color: #85a1f4;
}
.related ul li .featured-card a:focus {
  outline: 1px dotted #000;
}
.related ul li .featured-card a .featured-card__title {
  color: hsl(225, 84%, 24%);
  font-size: 1.25rem;
  text-decoration: underline;
  font-weight: 700;
  transition: color 250ms ease;
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
}
.related ul li .featured-card .featured-card__button {
  background: #c71627;
  border: 1px solid transparent;
  border-top-right-radius: 2.25rem;
  border-bottom-right-radius: 2.25rem;
  box-shadow: 0 0 10px -5px #000;
  color: transparent;
  display: inline-block;
  margin-top: 1rem;
  max-height: 2vw;
  overflow: hidden;
  max-width: 7vw;
  min-width: 33%;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: color 250ms ease;
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
}
.related ul li .featured-card .featured-card__button::after {
  content: "read more";
  background: #c71627;
  color: #fff;
  display: grid;
  font-size: 0.75rem;
  place-items: center;
  text-transform: uppercase;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  -moz-transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.related ul li .featured-card .featured-card__button:hover, .related ul li .featured-card .featured-card__button:active, .related ul li .featured-card .featured-card__button:focus {
  background: #fff;
  color: #c71627;
  border: 1px solid #c71627;
}
.related ul li .featured-card .featured-card__button:hover::after, .related ul li .featured-card .featured-card__button:active::after, .related ul li .featured-card .featured-card__button:focus::after {
  padding-left: 1rem;
}
.related ul li .featured-card .featured-card__button:focus {
  outline: 1px dotted #000;
}

.toc {
  z-index: 3;
}
@media (min-width: 1024px) {
  .toc {
    background: #fff !important;
    position: sticky;
    top: 65px;
  }
}
.toc h1,
.toc h2,
.toc h3,
.toc h4,
.toc h5,
.toc h6 {
  color: #c71627;
  font-size: clamp(1rem, 1.49rem + 8.333vw, 1.5rem);
  padding-left: 1rem;
  text-decoration: underline;
  text-transform: uppercase;
}
.toc a {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: clamp(0.667rem, 2vh, 1rem);
  text-decoration: none;
  color: hsl(204, 85%, 36%);
  padding: 0.25rem;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.toc a:hover, .toc a:active, .toc a:focus {
  color: #6b0c15;
}
.toc a.active {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #d6df58;
  padding: 0.25rem;
  font-weight: 600;
}

.main-footer {
  max-width: 100%;
}
.main-footer .main-footer__row {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-footer .main-footer__row {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .main-footer .main-footer__row {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
  }
}
.main-footer .main-footer__row .col {
  max-width: 100%;
}
.main-footer .main-footer__row .col h1,
.main-footer .main-footer__row .col h2,
.main-footer .main-footer__row .col h3,
.main-footer .main-footer__row .col h4,
.main-footer .main-footer__row .col h5,
.main-footer .main-footer__row .col h6 {
  color: #c71627;
  font-size: clamp(1.5rem, 3vh, 2rem);
  font-weight: 400;
}
.main-footer .main-footer__row .col:first-of-type {
  text-align: center;
}
@media (min-width: 1024px) {
  .main-footer .main-footer__row .col:first-of-type {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-footer .main-footer__row .col:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
@media (min-width: 1024px) {
  .main-footer .main-footer__row .col:nth-child(2) {
    grid-column-start: 5;
    grid-column-end: 10;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-footer .main-footer__row .col:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}
@media (min-width: 1024px) {
  .main-footer .main-footer__row .col:nth-child(3) {
    grid-column-start: 10;
    grid-column-end: 13;
  }
}
.main-footer .main-footer__row + p {
  font-size: clamp(0.6rem, 2vh, 1rem);
  padding: 1rem 0;
  text-align: left;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-footer .main-footer__row + p {
    margin: auto;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .main-footer .main-footer__row + p {
    margin: auto;
    text-align: center;
  }
}

.footer-nav {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .footer-nav {
    flex-flow: row wrap;
  }
}
.footer-nav a {
  display: block;
  width: auto;
}
.footer-nav a::after {
  display: none;
}

.sidebar.contact .contact-heading__title {
  font-size: clamp(1rem, 5vh, 2rem);
}

.projects .row {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) and (max-width: 1023px) {
  .projects .row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .projects .row {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.projects .row .card {
  -moz-transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  background: hsla(64, 68%, 61%, 0.1);
  border: 1px solid #8ac5dc;
  border-radius: 1rem;
  aspect-ratio: 1/1;
  padding: 1rem;
  position: relative;
}
.projects .row .card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  opacity: 0.33;
  -moz-transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .projects .row .card img {
    filter: blur(4px);
  }
}
@media (min-width: 1024px) {
  .projects .row .card img {
    filter: blur(4px);
  }
}
.projects .row .card a {
  text-decoration: none;
}
.projects .row .card .card-title {
  color: #c71627;
  font-size: 1.5rem;
  position: relative;
  padding: 0.5rem 0;
  text-decoration: none;
}
.projects .row .card .card-title::after {
  content: "";
  display: inline-block;
  height: 4px;
  margin-bottom: 4px;
  width: 50px;
  max-width: 100%;
  background: linear-gradient(0.25turn, #c71627, #8ac5dc, #d6df58, #fff);
  position: absolute;
  left: 0;
  bottom: -4px;
}
.projects .row .card .card-content {
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.5rem 0;
}
.projects .row .card .card-button {
  background: #c71627;
  text-transform: uppercase;
  color: #fff;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  padding: 7px 1rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.projects .row .card:hover img {
  filter: blur(0px);
  opacity: 0.2;
}

.more-posts {
  width: 100%;
}

.pagination-default {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 40px));
  margin: 1rem auto;
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro, sans-serif;
  font-weight: 600;
  font-size: clamp(0.667rem, 2vh, 1rem);
  padding: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.pagination-default .page-item {
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding-inline-start: 0;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.pagination-default .page-item:hover, .pagination-default .page-item:active, .pagination-default .page-item:focus {
  border: 2px solid #c71627;
  border-radius: 50%;
}
.pagination-default .page-item:focus {
  outline: 2px dotted #c71627;
}
.pagination-default .page-item.active {
  border: 2px solid #8ac5dc;
  border-radius: 50%;
}
.pagination-default .page-item.active .page-link {
  color: #c71627;
  display: grid;
  place-items: center;
  text-decoration: underline;
}

.contact-form {
  flex: 1 1;
  min-width: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contact-form {
    flex: 1 1;
  }
}
@media (min-width: 1024px) {
  .contact-form {
    flex: 2 1;
  }
}
.contact-form + aside.sidebar.contact {
  flex: 1 2 100%;
  min-width: 0;
  padding-top: 3vh;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contact-form + aside.sidebar.contact {
    flex: 0 2 33%;
  }
}
@media (min-width: 1024px) {
  .contact-form + aside.sidebar.contact {
    flex: 1 3;
  }
}

.cta {
  background: hsl(64, 68%, 61%);
  border-radius: 2rem;
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-weight: normal;
  padding: 1rem;
  max-width: 60ch;
  width: 100%;
}
.cta .cta__inner {
  max-width: 100%;
}
.cta .cta__inner .row {
  grid-template-columns: repeat(1px, 1fr);
}
.cta .cta__inner .row .col-50 {
  max-width: 100%;
  position: relative;
}
.cta .cta__inner .row .col-50 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0.25;
  z-index: 0;
}
.cta .cta__inner .row .col-50 .cta__inner-card {
  background: #fff;
  margin-bottom: 1rem;
  max-width: 100%;
  padding: 1rem;
}
.cta .cta__inner .row .col-50 .cta__inner-card:nth-child(2n) {
  margin-bottom: 0;
}
.cta .cta__inner .row .col-50 .content-wrap {
  display: grid;
  max-width: 100%;
  padding: 1rem;
  place-items: center;
  height: 100%;
  width: 100%;
}
.cta .cta__inner .row .col-50 .content-wrap p,
.cta .cta__inner .row .col-50 .content-wrap a {
  z-index: 1;
}
.cta .cta__inner .row .col-50 .content-wrap p {
  color: #000;
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: 1px 1px 3px #888;
}
@media (min-width: 499px) and (max-width: 767px) {
  .cta {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1024px) {
  .cta {
    border-radius: 1rem;
    box-shadow: 0 0 15px -10px #000;
    font-size: 1rem;
    margin: 1rem auto 1rem 0;
    max-width: 60ch;
    padding: 1rem;
    width: 100%;
  }
  .cta .cta__inner h3 {
    font-size: 2rem;
    margin-bottom: 0 !important;
  }
  .cta .cta__inner .row .col-50 .cta__inner-card {
    background: #fff;
    box-shadow: 2px 2px 20px -10px #000;
    margin: 1rem auto;
    max-width: 300px;
    padding: 1rem;
  }
}

.cta-btn {
  background: #c71627;
  outline: 2px solid transparent;
  color: #fff;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 2rem;
  padding: 0.33rem 1rem;
  margin-top: 1rem;
}
.cta-btn::after, .cta-btn::before {
  content: "";
}
.cta-btn:hover, .cta-btn:active {
  background: transparent;
  outline: 2px solid hsl(204, 85%, 36%);
  color: hsl(204, 85%, 36%);
}
.cta-btn:focus, .cta-btn:focus-within, .cta-btn:focus-visible {
  background: transparent;
  outline-style: dotted;
}

nav.breadcrumb o.breadcrumbs {
  margin: initial;
}

.list-card__container {
  margin: auto;
  max-width: 65rem;
}
.list-card__container .list-card__container-inner {
  display: flex;
}
.list-card__container .list-card__container-inner .list-card__container-column:nth-child(1) {
  flex: 2 1;
}
.list-card__container .list-card__container-inner .list-card__container-column:nth-child(1) figcaption h2 {
  display: grid;
  place-items: center;
  transform-style: preserve-3d;
  perspective: 400px;
}
.list-card__container .list-card__container-inner .list-card__container-column:nth-child(1) figcaption h2 a {
  backface-visibility: hidden;
  text-shadow: 0 0 2px #000;
  transform: rotate3d(2, -2, 2, -5deg);
}
.list-card__container .list-card__container-inner .list-card__container-column:nth-child(2) {
  flex: 1 2;
}

.article-header {
  margin: auto;
}
.article-header .main-nav {
  max-width: max-content;
}

.article-title {
  font-size: clamp(1.33rem, 0.9961rem + 3.0058vw, 3rem);
  max-width: unset;
  width: 100%;
}

.container .main-content .main-content__content {
  margin: auto;
}
.container .main-content .main-content__content h1,
.container .main-content .main-content__content h2,
.container .main-content .main-content__content h3,
.container .main-content .main-content__content h4,
.container .main-content .main-content__content h5,
.container .main-content .main-content__content h6 {
  max-width: unset;
}

/*# sourceMappingURL=index.css.map */
