/* Error: expected "{".
 *   ,
 * 1 | -@use './_colors.scss' as c;
 *   |                            ^
 *   '
 *   assets/scss/_defaults/_typography.scss 1:28  @forward
 *   assets/scss/_defaults/_index.scss 2:1        @use
 *   assets/scss/index.scss 1:1                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a   \2577 \a 1 \2502  -@use './_colors.scss' as c;\a   \2502                             ^\a   \2575 \a   assets/scss/_defaults/_typography.scss 1:28  @forward\a   assets/scss/_defaults/_index.scss 2:1        @use\a   assets/scss/index.scss 1:1                   root stylesheet";
}
