@use '../_defaults/media-query' as queries;
@use '../_defaults/mixins' as mixins;

.contact-form {
    flex: 1 1;
    min-width: 0;
    max-width: 768px;

    #mainContactForm {
        .form-control {

            input,
            textarea {
                box-shadow: 2px 2px 8px -6px #000;
                @include mixins.base-transition();

                &:hover,
                &:focus,
                &:active {
                    box-shadow: 2px 2px 8px -4px #000;
                }
            }
        }
    }

    @include queries.tablet {
        flex: 1 1;
    }

    @include queries.desktop {
        flex: 2 1;
    }

    +aside.sidebar.contact {
        flex: 1 2 100%;
        min-width: 0;
        padding-top: 3vh;

        @include queries.tablet {
            flex: 0 2 33%;
        }

        @include queries.desktop {
            flex: 1 3;
        }
    }
}
