@use "../_defaults/_colors.scss" as c;
@use "../_defaults/_media-query.scss" as m;
.main-header {
	display: grid;
	grid-template-areas: 
				 "a"
			     "b";
	@include m.desktop {
		min-height: 100vh;
	}
	grid-template-columns: 1fr;
			      .main-nav {
			      	background: #fff;
			      	grid-area: a;
			      	position: fixed;
			      	top: 0;
			      	z-index: 3;

			      }
			      .main-header__row {
			      	display: grid;
			      	gap: 1rem;
			      	grid-area: b;
			      	grid-template-areas: "cola"
			      						 "colb";
			      	grid-template-columns: 1fr;
			      	@media screen and (min-width: 768px){
			      		grid-template-areas: "cola colb";
			      		grid-template-columns: 1fr 1fr;
			      		margin: auto;
			      		place-items: center stretch;
			      	}
			      	height: calc(100vh - 83px);
			      	@include m.desktop {
			      		height: calc(100vh - 65px);
			      	}
			      	.main-header__row-col {
			      		&:nth-child(2n+1) {
			      			grid-area: cola;
			      		}
			      		&:nth-child(2n) {
			      			grid-area: colb;
			      			height: 512px;
			      			position: relative;
			      			overflow:hidden;
			      			&::after {
			      				content: "";
			      				width: 50%;
			      				background: transparent;
  								background-image: radial-gradient(c.$bice-blue 3px, transparent 0px);
  								background-size: 40px 40px;
  								background-position: center center;
  								height: calc(100vh - 600px);
  								width: 50%;
			      				position: absolute;
			      				top: 50%;
			      				right: -33%;
			      				transform: translate(-70%, -50%);
			      			}
			      			&::before {
			      			background: transparent url('/images/island.png') no-repeat center center / contain;
			      			content: "";
			      			position: absolute;
			      			display: inline-block;
			      			height: 512px;
			      			max-width: 100%;
			      			width: 100%;
			      			top: 50%;
			      			left: 50%;
			      			transform: translate(-50%, -50%) rotatey(180deg);
			      			z-index: 2;
			      			}
			      		}
			      		h1 {
			      			display: inline-block;
			      		}
			      	}
			      }

}
