@use '../_defaults/colors' as colors;
@use '../_defaults/mixins' as mixins;

.more-posts {
	width: 100%;
}

.pagination-default {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20px, 40px));
	margin: 1rem auto;
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	font-weight: 600;
	font-size: clamp(0.667rem, 2vh, 1rem);
	padding: 1rem;
	align-items: center;
	justify-content: center;
	width: 100%;
	.page-item {
		aspect-ratio: 1/1;
		border-radius: 50%;
		display: grid;
		place-items: center;
		padding-inline-start: 0;
		@include mixins.base-transition();
		&:hover,
		&:active,
		&:focus {
			border: 2px solid colors.$rose-pink;
			border-radius: 50%;
		}
		&:focus {
			outline: 2px dotted colors.$rose-pink;
		}
	}

	.page-item.active {
		border: 2px solid colors.$cloud-blue;
		border-radius: 50%;
		.page-link {
			color: colors.$rose-pink;
			display: grid;
			place-items: center;
			text-decoration: underline;
		}
	}
}

