@use '../_defaults/media-query' as query;
@use '../_defaults/colors' as c;

.projects {
	.row {
		grid-template-columns: repeat(1, minmax(0, 1fr));

		@include query.tablet {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@include query.desktop {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}

		.card {
			-moz-transition: all 250ms ease;
			-webkit-transition: all 250ms ease;
			transition: all 250ms ease;
			background: c.$sun-yellow-100;
			
			border: 1px solid c.$cloud-blue;
			border-radius: 1rem;
			aspect-ratio: 1/1;
			padding: 1rem;
			position: relative;
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: -1;
				height: 100%;
				width: 100%;
				aspect-ratio: 1/1;
				object-fit: cover;
				opacity: 0.33;
				@include query.tablet {
					filter: blur(4px);
				}
				@include query.desktop {
					filter: blur(4px);
				}
				-moz-transition: all 250ms ease;
			-webkit-transition: all 250ms ease;
			transition: all 250ms ease;
			}
			a {
				text-decoration: none;
			}

			.card-title {
				color: c.$rose-pink;
				font-size: clamp(1rem, 1.5rem, 2rem);
				position: relative;
				padding: 0.5rem 0;
				text-decoration: none;
				&::after {
					content: "";
					display: inline-block;
					height: 4px;
					margin-bottom: 4px;
					width: 50px;
					max-width: 100%;
					background: linear-gradient(0.25turn, c.$rose-pink, c.$cloud-blue, c.$sun-yellow, #fff);
					position: absolute;
					left: 0;
					bottom: -4px;
				}
			}
			.card-content {
				font-size: clamp(0.65rem, 0.75rem, 1rem);
				font-weight: 700;
				padding: 0.5rem 0;
			}
			.card-button {
				background: c.$rose-pink;
				text-transform: uppercase;
				color: #fff;
				border-top-right-radius: 3rem;
				border-bottom-right-radius: 3rem;
				display: flex;
				justify-items: flex-start;
				align-items: center;
				padding: 7px 1rem;
				position: absolute;
				bottom: 1rem;
				left: 1rem;
			}
			&:hover {
				img {
					filter: blur(0px);
					opacity: 0.2;

				}
			}
		}
	}
}