.article-header {
    max-width: 103ch;
    margin: auto;
    .main-nav {

        max-width: max-content;
    }
}

.article-title {
    font-size: clamp(1.33rem, 0.9961rem + 3.0058vw, 3rem);
    max-width: unset;
    width: 100%;
}

.container {
    .main-content {
        .main-content__content {
        margin: auto;
        max-width: 60ch;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                max-width: unset;
            }
            
        }
    }
}
