@use '../_defaults/colors' as c;
@use '../_defaults/mixins' as mixins;
@use '../_defaults/media-query' as query;

.toc {
	
	@include query.tablet {
		
	}
	@include query.desktop {
		background: #fff !important;
		position: sticky;
		top: 65px;
	}
	z-index: 3;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: c.$rose-pink;
		font-size: clamp(1.25rem, 10vh, 2rem);
		text-decoration: underline;
		text-transform: uppercase;
	}

	a {
	
	font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	font-weight: 600;
	font-size: clamp(0.667rem, 2vh, 1rem);
	text-decoration: none;
	color: c.$bice-blue;
	padding: 0.25rem;
	@include mixins.base-transition();
	&:hover,
	&:active,
	&:focus {
		color: darken(c.$rose-pink, 20%);
	}

}

a.active {
	@include mixins.base-transition();
	background: c.$sun-yellow;
	padding: 0.25rem;
	font-weight: 600;
}

}
