{{ $role := or .Params.role "Web Developer" }}
		<section class="author-card">
		<div class="author-card__inner-row">
			<div class="author-card__inner-row__portrait">
				<div class="outer-portrait">
					<div class="inner-portrait">
						<img data-src="/images/portrait.webp" class="logo" alt="portrait of author" height="300" width="300" loading="lazy" decoding="async">
					</div>
				</div>
			</div>
			<div class="author-meta">
					<h3 class="author-meta__name">{{ or .Params.author "Andrew M McCall" }}</h3>
					<span class="role">{{ $role }}</span>
					<div class="meta-box  {{ if eq .Params.layout "contact" }}d-none{{ end }}">
						<time class="publish-date" datetime="{{ .Params.publishDate }}">{{ .Params.publishDate.Format "Jan 02, 2006" }}</time>
					<span id="readTime" class="read-time">-</span>
					</div>
					{{ with .Site.Params.social }}
					 
					<div class="social-icons">
						{{ range . }}
						<a href="{{.url }}" title="{{ if .handle  }} {{ .handle }} {{ else }} {{ .name }} {{ end }} - social " rel="noreferrer noopener"><img data-src="{{ .icon }}" class="logo" alt="{{ .name }} - social icon" loading="lazy" decoding="async" height="35" width="35"></a>
						{{ end }}
					</div>
					
					{{ end }}
				</div>
                    
		</div>
    
</section>
