<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ if .Description }} {{ .Description}} - {{ .Site.Params.description }} {{ else }} {{ .Site.Params.description }} {{ end }}">
	<meta http-equiv="Access-Control-Allow-Origin" content="https://formcake.com/" />
	<title>{{- .Site.Title -}}</title>
	{{ $style := resources.Get "css/index.css" }}
	{{ $script := resources.Get "scripts/index.js" |  js.Build (dict "sourceMap" "external" ) }}
	<link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<script src="{{ $script.RelPermalink }}" type="module" defer></script>
	<script defer data-domain="andrew-mccall.com" src="https://plausible.io/js/script.js"></script>

</head>