<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ if .Description }} {{ .Description }} {{ else }} {{ .Site.Params.description }} {{ end }}">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
<script defer src="https://umami.lofilounge.xyz/script.js" data-website-id="8a9aa23f-877c-43b3-82b6-00435dfdecd7"></script>
