<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body data-theme="light">
  <a 
  href="#content"
  aria-label="jump to main content"
  >Jump to Content</a>
  <header class="landing__header">
    {{if ne .Page.Path "/traverse-city-web-design-and-development"}}
      {{ partial "components/theme-toggle.html" }}
      {{ partial "header.html" . }}
    {{ end }}
  </header>
  {{ if eq .Kind "page"  }}
  <div class="wrapper">
  {{ end }}
  <main id="content">
    {{ block "main" . }}{{ end }}
  </main>
    {{ block "sidebar" . }}

   {{ end }}
  {{ if eq .Kind "page"  }}
  <div class="wrapper">
  {{ end }}
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
