{{ define "main" }}
  {{ .Content }}
  {{ $paginator := .Paginate (where .Site.RegularPages "Section" "blog") }}
  {{ range first 3 $paginator.Pages }}
  
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <p>{{ .Summary }}</p>
  {{ end }}
  <a 
  href="/blog"
  style="
  display: flex;
  align-items: center;
  justify-content:flex-start;
  "
  >See All 
    <svg xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 24 24" 
    fill="none" 
    stroke="currentColor" 
    stroke-width="2" 
    stroke-linecap="round" 
    stroke-linejoin="round"
    style="
          display: inline;
          height: var(--font-size-5);
          width: fvar(--font-size-5);
          "     
    >
    <line x1="8" y1="8" x2="16" y2="16" pathLength="1" stroke="black" stroke-width="2"/>
    <path d="M12 5l7 7-7 7" transform="rotate(45 12 12)"/>
   </svg>
   </a>
{{ end }}
