@import "./_partials/_portrait.css";
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
        text-size-adjust: none;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

::slotted(*) {
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
figure {
    word-wrap: break-word;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
}

:where(img, svg, video) {
    max-inline-size: 100%;
    block-size: auto;
}

:where(a[href], area, button, input:not([type="text"]):not([type="email"]):not([type="number"]):not([type="password"]):not([type=""]):not([type="tel"]):not([type="url"]), label[for], select, summary, [tabindex]:not([tabindex*="-"])) {
    cursor: pointer;
}

:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

:where(ul, ol, dl) {
    list-style: none;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
    -webkit-padding-start: 0rem;
            padding-inline-start: 0rem;
}

:where(p, span) {
    padding: 0px;
    padding: 0rem;
}

:where(input, button, textarea, select),
:where(input[type="file"])::-webkit-file-upload-button {
    font: inherit;
    font-size: inherit;
    color: inherit;
    letter-spacing: inherit;
}

body {
    background: hsla(210, 13%, 20%, 1);
    color: hsla(0, 0%, 93%, 1);
}

/*
*   Light Theme
*
*/

body[data-theme="light"] {
    background: var(--offset-white);
    color: hsla(210, 13%, 15%, 1);
}

body[data-theme="light"] a:hover,
body[data-theme="light"] a:active,
body[data-theme="light"] a:focus {
    color: hsla(210, 13%, 15%, 1);
}

/*
*   Dark Theme
*/

body[data-theme="dark"] {
    background: hsla(210, 13%, 15%, 1);
    color: hsla(0, 0%, 93%, 1);
}

@font-face {
    font-family: "Italiana Regular";
    src: url("./fonts/italiana-regular-webfont.woff") format('woff');
    src: url("./fonts/italiana-regular-webfont.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsla(0, 0%, 93%, 1);
    font-family: "Italiana Regular", serif;
    margin: 16px 0px;
    margin: 1rem 0rem;
}

body[data-theme="light"] h1,
body[data-theme="light"] h2,
body[data-theme="light"] h3,
body[data-theme="light"] h4,
body[data-theme="light"] h5,
body[data-theme="light"] h6 {
    color: hsla(210, 13%, 20%, 1);
}

h1 {

    padding: 0px;
    padding: 0rem;
    font-size: clamp(32px, 21.825px + 4.0683vw, 56px);
    font-size: clamp(2rem, 1.3641rem + 4.0683vw, 3.5rem);
}

h2 {
    font-size: 48px;
    font-size: 3rem;
    padding: 0px;
    padding: 0rem;
}

h3 {
    font-size: 40px;
    font-size: 2.5rem;
    padding: 0px;
    padding: 0rem;
}

h3[data-term] {
    font-size: 40px;
    font-size: 2.5rem;
}

a[href="#content"] {
    background: hsla(0, 0%, 93%, 1);
    /* Background color */
    color: hsla(210, 13%, 15%, 1);
    /* Text color */
    font-weight: 700;
    /* Bold text */
    left: 50%;
    /* Center the link */
    padding: 4px;
    /* Add some padding */
    position: absolute;
    /* Position the link */
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    /* Hide the link off-screen */
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    /* Smooth transition */
}

a[href="#content"]:focus {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    /* Bring the link into view when focused */
}

a {
    color: hsla(0, 0%, 93%, 1);
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: 500;
    max-width: 100%;
    -webkit-text-decoration: solid underline;
            text-decoration: solid underline;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

a:hover,
a:active {
    color: hsla(195, 25%, 45%, 1);

}

body[data-theme="light"] a {
    color: hsla(210, 13%, 15%, 1);
}

body[data-theme="light"] a:active,
body[data-theme="light"] a:hover,
body[data-theme="light"] a:focus {
    color: hsla(195, 25%, 45%, 1);
}

:is(h1, h2, h3)>a {
    display: inline-block;
    font-family: "Italiana Regular", serif;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
}

p,
span,
pre,
blockquote,
code,
ul,
ol,
li,
div,
section,
article,
main,
aside,
footer,
header {
    font-size: clamp(16px, 14.608px + 0.557vw, 20px);
    font-size: clamp(1rem, 0.913rem + 0.557vw, 1.25rem);
}

p,
ul li,
ol li,
dl li {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    line-height: 1.67;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    max-width: 75ch;
}

pre {
    background: hsla(0, 0%, 93%, 1);
    color: hsla(210, 13%, 15%, 1);
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    padding: 16px;
    padding: 1rem;
    overflow-y: auto;
}

code {
    background: hsla(0, 0%, 93%, 1);
    color: hsla(210, 13%, 15%, 1);
    line-height: 1.25;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    padding: 4px;
    padding: 0.25rem;
}

main blockquote p {
    color: hsla(210, 13%, 15%, 1);
}

main blockquote code {
    background: hsla(0, 0%, 100%, 1.0);
}

.single__meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 0;
    list-style: none;
}

.single__meta li {
        font-size: var(--font-size-medium);
        line-height: normal;
        line-height: initial;
        -webkit-margin-after: 4px;
                margin-block-end: 4px;
        -webkit-margin-after: 0.25rem;
                margin-block-end: 0.25rem;
        margin-bottom: 4px;
        margin-bottom: 0.25rem;
    }

html body header,
html body main {
    margin: 0px auto;
    margin: 0rem auto;
    width: 100%;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}

nav ul li:not(:first-child) {
    margin-left: 4px;
    margin-left: 0.25rem;
}

div,
section,
article,
main,
nav,
address,
figure,
blockquote,
aside,
footer,
header {
    padding: 8px;
    padding: 0.5rem;
    max-width: 100%;
}

#content > div:has(iframe) {
    display: block;
    min-width: unset;
    max-width:100%;
    width: 100%;
}

main blockquote {
    background: hsla(0, 0%, 93%, 1);
    border-left: 4px solid hsla(195, 25%, 45%, 1);
    border-left: 0.25rem solid hsla(195, 25%, 45%, 1);
    margin: 0;
    max-width: unset;
}

main ol:not(ol[data-taxonomy]),
main ul:not(ul[data-taxonomy]),
main dl:not(dl[data-taxonomy]) {
    padding: 4px;
    padding: 0.25rem;
}

main ol li,
main ul li,
main dl li {
    padding: 4px;
    padding: 0.25rem;
}

footer {
    margin: 0 auto;
    padding: 4px;
    padding: 0.25rem;
}

section[data-taxonomy="tags"],
section[data-taxonomy="tags"] header {
    margin-bottom: 4px;
    margin-bottom: 0.25rem;
    max-width: unset;
    padding: 0px;
    padding: 0rem;
}

.nav-bar__wrap {
        display: grid;
    }

@media screen and (min-width: 499px) {

    div,
    section,
    article,
    main,
    nav,
    address,
    figure,
    blockquote,
    aside,
    footer,
    header {
        max-width: 83.33333%;
    }
}

@media screen and (min-width: 768px) {

    div,
    section,
    article,
    main,
    nav,
    address,
    figure,
    blockquote,
    aside,
    footer,
    header {
        max-width: 83.33333%;
    }
}

@media screen and (min-width: 968px) {

    div,
    section,
    article,
    main,
    nav,
    address,
    figure,
    blockquote,
    aside,
    footer,
    header {
        max-width: 83.33333%;
    }
}

@media screen and (min-width: 1200px) {

    div,
    section,
    article,
    main,
    nav,
    address,
    figure,
    blockquote,
    aside,
    footer,
    header {
        max-width: 50%;
    }
}

@media screen and (min-width: 1500px) {

    div,
    section,
    article,
    main,
    nav,
    address,
    figure,
    blockquote,
    aside,
    footer,
    header {
        max-width: 41.66667%;
    }
}

/*
 *   theme checkbox
 */

div[data-ui-toggle] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: 4px;
    margin-right: 0.25rem;
    width: min(40px, 100%);
 }

svg[data-icon] {
    height: 24px;
    height: 1.5rem;
    margin-right: 4px;
    margin-right: 0.25rem;
    width: 24px;
    width: 1.5rem;
 }

svg[data-icon="dark"] {
    display: none;
 }

label[for="themeToggle"] {
    border: 1px solid hsla(210, 13%, 15%, 1);
    border-radius: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0px 0px 0px auto;
    margin: 0rem 0rem 0rem auto;
    height: 24px;
    height: 1.5rem;
    overflow: hidden;
    width: 48px;
    width: 3rem;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

label[for="themeToggle"] > input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    display: block;
    height: 24px;
    height: 1.5rem;
    margin-left: 0px;
    margin-left: 0rem;
    position: relative;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    width: 24px;
    width: 1.5rem;

}

label[for="themeToggle"] > input[type="checkbox"]::after {
    background: hsla(210, 13%, 15%, 1);
    border-radius: 50%;
    border: 1px solid hsla(210, 13%, 15%, 1);
    border-color: hsla(210, 13%, 15%, 1);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    visibility: initial;
    z-index: 0;
}

body[data-theme="dark"] label  {
    background: hsla(0, 0%, 93%, 1);
    color: #333;
    
}

body[data-theme="dark"] label > input[type="checkbox"]::after {
    background: hsla(195, 25%, 45%, 1);
    border: 1px solid hsla(210, 13%, 15%, 1);
    border-color: hsla(0, 0%, 100%, 1.0);
}

label[for="themeToggle"] > input[type="checkbox"]:checked,
label[for="themeToggle"] > input[aria-checked="true"]{

    -webkit-transform: translateX(100%);

            transform: translateX(100%);
}

ul li ul li {
    -webkit-margin-start: 16px;
            margin-inline-start: 16px;
    -webkit-margin-start: 1rem;
            margin-inline-start: 1rem;
}

ul[data-taxonomy="tags"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 4px;
    gap: 0.25rem;
    font-size: 13.6px;
    font-size: 0.85rem;
    letter-spacing: 1.33px;
    list-style: none;
    margin: unset;
    text-transform: uppercase;
    width: 100%;
}

ul[data-taxonomy="tags"] li {
    margin-bottom: 0px;
    margin-bottom: 0rem;
    padding: 4px;
    padding: 0.25rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

main ul,
main ol,
main dl {
    list-style: disc outside none;
    list-style: initial;
    max-width: 91.66667%;
    margin: 0px auto;
    margin: 0rem auto;
}

main ul li,
main ol li,
main dl li {
    /* margin: 0 var(--spacing-auto) var(--spacing-1); */
    padding: 4px 0;
    padding: 0.25rem 0;
}

/*
*   dark theme tag links
*/

body[data-theme="dark"] ul[data-taxonomy="tags"] li a {
    color: hsla(0, 0%, 93%, 1);
}

body[data-theme="dark"] ul[data-taxonomy="tags"] li a:hover,
body[data-theme="dark"] ul[data-taxonomy="tags"] li a:active,
body[data-theme="dark"] ul[data-taxonomy="tags"] li a:focus {
    color: hsla(195, 25%, 45%, 1);
}

/*
 * pagination
 */

section[data-section="pagination"] {
    width: 100%;
    max-width: 100%;
    text-align: center;
 }

section[data-section="pagination"] ul.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    gap: 8px;
    gap: 0.5rem;
    list-style: none;
    margin: 0 auto;
}

section[data-section="footer"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    font-size: 16px;
    font-size: 1rem;
    max-width: unset;
    place-items: start center;
}

section[data-section="footer"] ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    gap: 4px;
    gap: 0.25rem;
}


