@use "./_colors.scss" as c;
@use "../_defaults/media-query" as m;
@use '../_defaults/mixins' as mixins;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.d-none {
	display: none !important;
}

html,
body {
	font-size: 18px;
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
	height: auto;
	opacity: 0;
	-webkit-transition: all 350ms ease;
	-moz-transition: all 350ms ease;
	transition: all 350ms ease;
}

img.loaded {
	opacity: 1;
}

.main-nav {
	background: #fff;
	width: 100%;
	max-width: 1600px;
	margin: auto;
	position: fixed;
	z-index: 99999999999999;
}

.row {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.col {
	width: auto;
	img.portrait {
		border-radius: 1rem;
		box-shadow: 2px 2px 20px -10px #000;
		opacity: 1;
		
	}
}

aside {

	img {
		border-radius: 50%;
	}
	
	ul,
	li {
		list-style-type: none;
		list-style-position: inside;
	}
}
nav.breadcrumb {
	padding: 0;	
}

.breadcrumbs {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 0 1.5rem;
    margin: unset;
	padding: 0;
	li {
		@include m.desktop {
			margin-bottom: 0;
		}
		display: inline-block;
		padding-inline-start: 0;
		position: relative;
		a {
			font-size: clamp(0.5rem, mixins.build-clamp(0.5, 0.8, 399, 968), 1rem);
			margin: unset;
		}
		&:first-of-type {
			margin-left: 0;
		}
		&::after {
			color: c.$rose-pink;
			content: "\226B";
			height: 100%;
			width: auto;
			position: absolute;
			top: 50%;
			right: -1.25rem;
			transform: translateY(-50%);

		}

		&:last-of-type {
			&::after {
				display: none;
			}
		}
	}
}



.wrapper {
	margin: auto;
	max-width: 1200px;
	padding: 0 1rem;
}

.featured {
	width: 100%;
	margin-bottom: 3rem;
	&:last-of-type {
		margin-bottom: 1rem;
	}
	.featured-card {
		.featured-card__title,
		.featured-card__byline,
		.featured-card__content,
		.featured-card__button {
			max-width: 60ch;
		}
		a > h2.featured-card__title {
			max-width: 499px;
		}
	}

}

.featured__title {
	margin-bottom: 1.5rem;
}

.featured__articles {
	display: grid;
	gap: 2vw;
	width: 100%;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	@include m.tablet {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	@include m.desktop {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}
	margin: auto;
	.featured-card {
		display: flex;
		flex-flow: column wrap;
		align-items: flex-start;
		justify-content: space-around;
		width: 100%;
		@include m.desktop {
			max-width: fit-content
		}
		a {
			text-decoration: none;
			color: inherit;
		}
		.featured-card__title {
			color: c.$rose-pink;
			font-size: clamp(1.1rem, 0.7153rem + 1.6368vw, 1.5rem);
			display: -webkit-box;
  			-webkit-line-clamp: 3;
  			-webkit-box-orient: vertical;  
  			overflow: hidden;
			text-transform: uppercase;
			@include mixins.base-transition();
			&:hover,
			&:focus,
			&:active {
				color: c.$bice-blue;
				-moz-transform: translateY(-1vh) rotateZ(2deg);
				-webkit-transform: translateY(-1vh) rotateZ(2deg);
				transform: translateY(-1vh) rotateZ(2deg);
			}
		}
		.featured-card__byline {
			font-size: 0.85rem;
			margin-bottom: 0.667rem;
			max-width: 60ch;
			strong + span {
				padding-left: 0.5rem;
			}
		}
		.featured-card__content {
			margin-bottom: 0.667rem;
			max-width: 60ch;
			display: -webkit-box;
  			-webkit-line-clamp: 4;
  			-webkit-box-orient: vertical;  
  			overflow: hidden;
		}
		.featured-card__button {
			background: c.$rose-pink;
			color: transparent;
			border-top-right-radius: 3rem;
			border-bottom-right-radius: 3rem;
			text-transform: uppercase;
			display: inline-grid;
			place-items: center;
			font-size: clamp(0.667rem, 1vw, 1.75vw);
			margin: auto auto 1rem 0;
			overflow: hidden;
			max-height: 40px;
			max-width: 175px;
			padding: 0.667rem 0.5rem;
			text-align: center;
			width: 100%;
			flex: 0 1 auto;
			-moz-transition: all 250ms ease;
			-webkit-transition: all 250ms ease;
			transition: all 250ms ease;
			position: relative;
			overflow: hidden;
			&::after {
				content: "read more";
				background: c.$rose-pink;
				color: #fff;
				display: grid;
				place-items: center;
				text-transform: uppercase;
				text-transform: uppercase;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				-moz-transition: all 250ms ease;
			-webkit-transition: all 250ms ease;
			transition: all 250ms ease;
			}
			&:hover,
			&:active {
				background: #fff;
				color: c.$rose-pink;
				&::after {
					outline: 1px solid c.$rose-pink;
					padding-left: 1.25rem;
				}
			}
			&:focus {
				padding-left: 1.25rem;
				&::after {
					outline-style: dotted;
				}
			}
		}
		&:nth-child(2n) {
				.featured-card__title {
					&:hover,
					&:focus,
					&:active {
						color: c.$bice-blue;
						-moz-transform: translateY(-1vh) rotateZ(-2deg);
						-webkit-transform: translateY(-1vh) rotateZ(-2deg);
						transform: translateY(-1vh) rotateZ(-2deg);
					}
				}
			}
	}
}

.single {
	.wrapper {
		display: flex;
		flex-flow: row wrap;
		//gap: 1.5rem;
		padding-top: 100px;
		header {
			position: relative;
			
			width: 100%;
			.main-nav {
				background: #fff;
				display: block;
				width: 100%;
				max-width: 1200px;
				position: fixed;
				top: 0;
				z-index: 99999999999;
				@include m.desktop {
					max-width: 100%;
				}
			}
		}
		.container {

			display: flex;
			flex-flow: row wrap;
			gap: 0 2rem;
			width: 100%;
			.about-me {
				flex: 0 0 100%;
				.row {
					grid-template-columns: repeat(1, minmax(0, 1fr));
					@include m.tablet {
						grid-template-columns: repeat(2, minmax(0, 1fr));
						.col {
							&:nth-child(1) {
								place-self: center;
							}
						}
					}
					@include m.desktop {
						grid-template-columns: repeat(2, minmax(0, 1fr));
						.col {
							&:nth-child(1) {
								place-self: center;
							}
						}
					}

					img {
						display: block;
						margin: auto;
						width: 100%;
						height: auto;
					}
				}
			}
			main.main-content {
				flex: 1 1;
				max-width: 100%;
				@include m.tablet {
					flex: 1 0;
				}
				@include m.desktop {
					flex: 2 1;
					max-width: 768px;
				}
			}
			aside {
			flex: 0 0 100%;
			min-width: 0;
			max-width: 100%;
			@include m.tablet {
				flex: 0 0 100%;
			}
			@include m.desktop {
				flex: 1 2;
				max-width: 399px;
			}
			overflow: initial;
			
		}
			
		}
		footer {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}

