<section class="cta">
    <div class="cta__inner">
        <h3> Are you ready to master Golang and take your programming skills to the next level?</h3>
        <div class="row">
            <div class="col-50">
                <div class="cta__inner-card">
                    <p>Learn Go with comprehensive video lessons and interactive exercises. Gain the knowledge and confidence to use Golang productively.</p>
                </div>
                <div class="cta__inner-card">
                    <p>Using one of the best modern web programming languages, level up your skills and career by building beautiful applications.</p>
                </div>
            </div>
            <div class="col-50">
                <div class="content-wrap">
                    <img data-src="/images/icons/early_bird_discount.png" class="lazy" alt="early bird discout" height="256" width="256" loading="lazy" decoding="async">
                    <p>Enroll now and start your journey towards mastering golang and start leveling up your career today!</p>
                    <a href="#!" class="cta-btn">Enroll Now</a>
                </div>
            </div>
            
        </div>
    </div>
</section>