section[data-section="footer"] {
  a,p {
    font-size: clamp(0.75rem, 0.5625rem + 0.8333vw, 1rem);
  }
  p {
    text-align: center;
  }
  > * {
    margin-inline: var(--spacing-auto);
  }
}

[data-list-id="social"] {
  list-style: none;
  margin-block: var(--spacing-0);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  li {
  flex: 0 1 auto;
    margin-bottom: var(--spacing-0);
    width: initial;
  &:not(:last-child) {
    margin-inline-end: var(--spacing-2);
  }
  }
@media screen and (min-width: calc(399 / 16 * 1rem)) {
}
}

