ul li ul li {
    margin-inline-start: var(--spacing-4);
}

ul[data-taxonomy="tags"] {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-1);
    font-size: var(--font-size-md);
    letter-spacing: var(--letter-spacing-2);
    list-style: none;
    margin: unset;
    text-transform: uppercase;
    width: var(--width-100);
}

ul[data-taxonomy="tags"] li {
    margin-bottom: var(--spacing-0);
    padding: var(--spacing-1);
    width: fit-content;
}

main ul,
main ol,
main dl {
    display: block;
    padding-left: 0;
    list-style: none;
    margin: var(--spacing-0) var(--spacing-auto);
}

main ul li,
main ol li,
main dl li {
    /* margin: 0 var(--spacing-auto) var(--spacing-1); */
    padding: var(--spacing-0) 0;
}




/*
*   dark theme tag links
*/

body[data-theme="dark"] ul[data-taxonomy="tags"] li a {
    color: var(--off-white);
}

body[data-theme="dark"] ul[data-taxonomy="tags"] li a:hover,
body[data-theme="dark"] ul[data-taxonomy="tags"] li a:active,
body[data-theme="dark"] ul[data-taxonomy="tags"] li a:focus {
    color: var(--aqua-green);
}



/*
 * pagination
 */

 section[data-section="pagination"] {
    width: var(--width-100);
    max-width: var(--width-100);
    text-align: center;
 }

section[data-section="pagination"] ul.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: var(--spacing-2);
    list-style: none;
    margin: 0 var(--spacing-auto);
    li {
      --size: min(calc(40 / 16 * 1rem), 100%);
      border-radius: 100vw;
      border: 1px solid light-dark(#000000,#ffffff);
      flex: 0 0  var(--size);
      max-width: initial;
      min-width: 0;
      height: var(--size,40px);
      width: var(--size,40px);
      margin-bottom: 0;
      padding: 0;
      margin: 0;
      aspect-ratio: 1/1;
      display: grid;
      place-items: center;
      overflow: hidden;
      a {
        cursor: pointer;
        display: block;
        height: inherit;
        width: inherit;
        line-height: 1;
        align-self: center;
        display: grid;
        place-items: center;
      }
      &.active a {
        background: #000;
        color: #fff;
      }
    }
}

body[data-theme="dark"] {
  section[data-section="pagination"] {
    ul {
      li {
      &.active a {
        background: #fff; 
        color: #000;
      }
      }
    }
  }
}
