ul li ul li {
    margin-inline-start: var(--spacing-4);
}

ul[data-taxonomy="tags"] {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-1);
    font-size: var(--font-size-md);
    letter-spacing: var(--letter-spacing-2);
    list-style: none;
    margin: unset;
    text-transform: uppercase;
    width: var(--width-100);
}

ul[data-taxonomy="tags"] li {
    margin-bottom: var(--spacing-0);
    padding: var(--spacing-1);
    width: fit-content;
}

main ul,
main ol,
main dl {
    list-style: initial;
    max-width: var(--width-11-12);
    margin: var(--spacing-0) var(--spacing-auto);
}

main ul li,
main ol li,
main dl li {
    /* margin: 0 var(--spacing-auto) var(--spacing-1); */
    padding: var(--spacing-1) 0;
}




/*
*   dark theme tag links
*/

body[data-theme="dark"] ul[data-taxonomy="tags"] li a {
    color: var(--off-white);
}

body[data-theme="dark"] ul[data-taxonomy="tags"] li a:hover,
body[data-theme="dark"] ul[data-taxonomy="tags"] li a:active,
body[data-theme="dark"] ul[data-taxonomy="tags"] li a:focus {
    color: var(--aqua-green);
}



/*
 * pagination
 */

 section[data-section="pagination"] {
    width: var(--width-100);
    max-width: var(--width-100);
    text-align: center;
 }

section[data-section="pagination"] ul.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: var(--spacing-2);
    list-style: none;
    margin: 0 var(--spacing-auto);
}
